{% macro show_list_h(value)%}
    <h1 class="">{{ value }}</h1>
    <h2 class="">{{ value }}</h2>
    <h3 class="">{{ value }}</h3>
    <h4 class="">{{ value }}</h4>
    <h5 class="">{{ value }}</h5>
{% endmacro %}


{% macro show_card()%}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
{% endmacro %}


{% macro render_field(field)%}
<td class="">{{field.label}}</td>
<dd class="">{{field(**kwargs)| safe }}</dd>
{% if field.errors %}
    <ul>
        {% for error in field.errors%}
            <li> {{error}} </li>
        {% endfor %}
        
    </ul>
{% endif%}
{% endmacro %}